
body{
    background-color: rgb(41, 61, 193);
    margin:0;
    padding:0;
}
#intro{
    background-color: rgb(167, 167, 44);
   text-align: center;
 
    
}
#info>div{
    margin-left: 25%;
    margin-right:25%;
    background-color: lightblue;
    color:black;
    text-align: justify;
    padding:25px;
}
